.headerAdmin, .listWorked {
    background: #fff;
}

.headerAdmin .ant-space-item {
    color: rgb(68, 84, 111);
    font-weight: 500;
}

.boderHeaderAdmin {
    border-bottom: 1px solid var(--ds-border, #091E4224);
}

.titleAdmin {
    font-size: 24px;
    font-weight: 500;
    padding: 32px 40px;
    color: rgb(23, 43, 77);
}

.recentProject, .listWorked {
    padding: 20px 40px;
}

.recentProject h2 {
    color: #172b4d;
    font-weight: 500;
}

.menuProjectsAdmin {
    margin: 12px 0;
}

.menuProjectsAdmin ul{
    display: flex;
    align-items: center;
}

.myIssues, .myIssyesQuantity {
    font-size: 11px;
    color: #172b4d;
    font-weight: 500;
}

.myIssyesQuantity{
    background: #CCD0D7;
    padding: 2px 12px;
    border-radius: 8px;
}

.listWorked {
    height: 100%;
}

.titleWorked {
    color: #626f86;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.listItemWorked li {
    margin: 24px 0;
}

.listItemWorked li .titleIssue {
    color: #172b4d;
    font-weight: 600;
    font-size: 14px;
}

.listItemWorked li span {
    font-size: 11px;
    color: #626f86;
    font-weight: 500;
}